::placeholder {
  color: #b9b5b5;
}

button {
  cursor: pointer;
}

button.formkit-input {
  background-color: #ff3131 !important;
  color: #000 !important;
}

.formkit-actions .formkit-wrapper {
  text-align: center;
}
