[theme="custom-dark"] {
  background: #1c1e2d;
  color: #d2cbcb;

  ::placeholder {
    color: #545050;
  }

  input {
    background-color: #b9b5b5 !important;
  }

  hr {
    background-color: #d2cbcb;
  }

  .clear-button {
    color: #fff;
  }

}
