[theme="custom-dark"] {
  background: #1c1e2d;
  color: #d2cbcb;

  ::placeholder,
  .formkit-placeholder {
    color: #545050 !important;
  }

  input,
  .formkit-selector {
    background-color: #b9b5b5 !important;
  }

  .formkit-listitem {
    color: #1c1e2d;
    background-color: #b9b5b5;
  }

  .formkit-listitem[aria-selected=true],
  .formkit-listitem[data-is-active=true] {
    background-color: #8f8888 !important;
  }

  hr {
    background-color: #d2cbcb;
  }

  .clear-button {
    color: #fff;
  }

}
